* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(25, 97%, 53%);
  --color-gray-l: hsl(217, 12%, 63%);
  --color-gray-m: hsl(216, 12%, 54%);
  --color-blue-m: hsl(213, 20%, 18%);
  --color-blue-d: hsl(216, 12%, 8%);
}

html {
  color: #fff;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Overpass', sans-serif;
  background-color: #000;
}

ol,
ul,
li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

.container {
  width: 47rem;
  padding: 3.6rem 3.2rem;
  border-radius: 11px;
  background-image: linear-gradient(
    to bottom,
    var(--color-blue-m),
    var(--color-blue-d)
  );
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.heading {
  font-size: 2.8rem;
}

.description {
  color: #959eac;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.number-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 100%;
  display: block;
  padding: 1.2rem 2.4rem;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: var(--color-primary);
  transition: all 0.3s;
  cursor: pointer;
}

.btn:active {
  transform: translate(0.2rem, 0.2rem);
}

.btn:hover {
  color: var(--color-primary);
  background-color: #fff;
}

.icon-star {
  width: 4rem;
  height: 4rem;
  display: block;
  margin-bottom: 1.6rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  border-radius: 100px;
  background-color: #252d37;
}

.number {
  width: 5.4rem;
  height: 5.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-m);
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 100px;
  background-color: var(--color-blue-m);
  transition: all 0.4s;
  cursor: pointer;
}

.number:hover {
  color: #fff;
  background-color: var(--color-gray-l);
}

.number.active {
  color: #fff;
  background-color: var(--color-primary);
}

.section-state.flex {
  width: 90%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.state-text {
  padding: 0.8rem 1.6rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  border-radius: 100px;
  background-color: var(--color-blue-m);
}

.attribution {
  position: absolute;
  font-size: 1.1rem;
  text-align: center;
  bottom: 1.2rem;
}
.attribution a {
  color: #3e52a3;
}

@media (max-width: 34em) {
  .container {
    width: 90%;
  }
}
